@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://themes.googleusercontent.com/static/fonts/lobster/v5/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .brand {
	color: #99FFFF;
	text-shadow: -1px 0 #0066FF, 0 1px #0066FF, 1px 0 #0066FF, 0 -1px #0066FF;
    font: normal normal normal 24px/24px Lobster,Georgia,Times,'Times New Roman',serif;
}
.footer {
	min-height: 150px;
	border-top: 1px solid #E5E5E5;
	background-color: #EEE;
	padding: 10px;
}
